# Go to Google Cloud Console and create a new project
# Go to APIs & Services > Credentials and create a new OAuth 2.0 Client ID
# For local testing,
# Set the Authorized redirect URIs to http://localhost:8080/realms/testrealm/broker/google/endpoint
# Copy the Client ID and Client Secret into the .env file below
GOOGLE_CLIENT_ID=abc
GOOGLE_CLIENT_SECRET=abc
# Must match KEYCLOAK_CLIENT_SECRET in the app .env
KEYCLOAK_CLIENT_SECRET=abc
